<div class="working-experience">
  <h2>Working Experience</h2>
  <hr>
  <h3> 新加坡商 鈦坦科技, TitanSoft</h3>
  <p>Product Developer</p>
  <p>2022~ 2024</p>
  <ol class="disc-list">
    <li>Backend: .Net Core</li>
    <li> Frontend: Vue3 </li>
    <li> Use K8S for deployments of projects </li>
    <li> Use Gitlab for CI/CD </li>
  </ol>
</div>
<hr>

<div class="education">
  <h2>Education</h2>
  <hr>

  <ol  class="numbered-list">
    <li>
      <h3>Computer Science and Information Engineering</h3>
      <p>National Yunlin University of Science and Technology, YunTech</p>
      <p>Master’s Degree</p>
      <p>2020 ~ 2022</p>
      <p class="t-2"> Study on Blockchain and Network Security Research Area </p>
    </li>
    <li>
      <h3>Information and Telecommunication Engineering</h3>
      <p>Ming Chaun University, MCU</p>
      <p>Bachelor’s Degree</p>
      <p>2016 ~ 2020</p>
      <p class="t-2">Study on Network Security Research Area</p>
    </li>
  </ol>
</div>
<hr>
<div class="working-achievement"></div>
<div class="personal-achievement"></div>

<style>


  .t-2 {
    padding-left: 10px;
  }
  .numbered-list {
    list-style-type: decimal;
  }
  .disc-list{
    list-style-type: disc;
  }
</style>


<%- partial('_partial/paginator') %>
