<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .icon {
        background-color: white;
        display: flex;
        justify-content: center;
        width: 40px;
        height: 30px;
        border-radius: 10%;
        padding: 2px;
        margin-right: 10px;

        img {
            height: 24px;
            width: 32px;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .right {
        padding: 0 45px 0 0;
        width: auto;
        flex: 1;
    }

    .left {
        flex: 2;
    }

    .t-2 {
        padding-left: 10px;
    }

    .numbered-list {
        list-style-type: decimal;
    }

    .disc-list {
        list-style-type: disc;
    }

    @media (max-width: 1024px) {
        .right, .left {
            flex: 1 1 100%;
            padding: 0;
        }

        .right {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .right, .left {
            width: 100%;
            padding: 0;
        }

        .right {
            margin-bottom: 20px;
        }
    }
</style>


<div class="container">
    <div class="right">
        <div class="contact">
            <h3>Contact Me</h3>
            <ol class="disc-list">
                <li>+886 966095723</li>
                <li><a href="mailto:asdfg55887@gmail.com">Email</a></li>
                <li><a href="www.linkedin.com/in/jameshsueh">LinkedIn</a></li>
                <li><a href="https://github.com/CodeMachine0121">GitHub</a></li>
                <li><a href="https://medium.com/@asdfg55887">Medium</a></li>
            </ol>
        </div>
        <hr>
        <div class="skills">
            <h3>Skills</h3>
            <ol class="disc-list">
                <li>Dev Flow
                    <ol>
                        <li>TDD</li>
                    </ol>
                </li>
                <li>Programming Language
                    <ol class="disc-list">
                        <li>C</li>
                        <li>C#</li>
                        <li>Typescript/ Javascript</li>
                        <li>Python</li>
                        <li>Golang</li>
                    </ol>
                </li>
                <li>Backend
                    <ol class="disc-list">
                        <li>.Net Core</li>
                        <li>Flask</li>
                    </ol>
                </li>
                <li>Frontend
                    <ol class="disc-list">Vue3</ol>
                </li>
                <li>DevOps
                    <ol class="disc-list">
                        <li>GitLab CI/CD</li>
                        <li>Docker</li>
                        <li>Kubernetes</li>
                    </ol>
                </li>
                <li>Cryptography</li>
            </ol>
        </div>
        <hr>
        <div class="certificate">
            <ol class="disc-list">
                <li>CKAD, 2024</li>
                <li>TOEIC, 700/990 2024</li>
                <li>Microsoft Technology Associate, 2020</li>
            </ol>
        </div>
        <hr>

    </div>
    <div class="left">
        <div class="working-experience">
            <h2>Working Experience</h2>
            <hr>
            <div class="title">
                <div class="icon">
                    <img data-v-a57f4bb6=""
                         src="https://static.104.com.tw/b_profile/cust_picture/0920/130000000030920/logo.png?v=20240712181752"
                         alt="新加坡商鈦坦科技股份有限公司台灣分公司 LOGO"
                         title="新加坡商鈦坦科技股份有限公司台灣分公司 LOGO">
                </div>
                <h3>Titansoft, 新加坡商鈦坦科技</h3>
            </div>
            <p>Product Developer</p>
            <p>2022~ 2024</p>
            <ol class="disc-list">
                <li>Backend: .Net Core</li>
                <li> Frontend: Vue3</li>
                <li> Use K8S for deployments of projects</li>
                <li> Use Gitlab for CI/CD</li>
            </ol>
        </div>
        <hr>

        <div class="education">
            <h2>Education</h2>
            <hr>

            <ol class="numbered-list">
                <li>
                    <h3>Computer Science and Information Engineering</h3>
                    <p>National Yunlin University of Science and Technology, YunTech</p>
                    <p>Master’s Degree</p>
                    <p>2020 ~ 2022</p>
                    <p class="t-2"> Study on Blockchain and Network Security Research Area </p>
                </li>
                <li>
                    <h3>Information and Telecommunication Engineering</h3>
                    <p>Ming Chaun University, MCU</p>
                    <p>Bachelor’s Degree</p>
                    <p>2016 ~ 2020</p>
                    <p class="t-2">Study on Network Security Research Area</p>
                </li>
            </ol>
        </div>
        <hr>
        <div class="working-achievement">
            <h2>Working Achievement</h2>
            <hr>
            <ol>
                <li>2024: Acting as the <b>Outlink</b> in the Team </li>
                <li>2024: Host Refactor Workshop for Intern Team</li>
                <li>2024: Pass CKAD</li>
                <li>2023: Host DevOps Workshop, teaching about Docker and K8s</li>
                <li>2023: Representing TitanSoft at the GDG (Google Developer Groups) dinner.</li>
                <li>2023: Representing TitanSoft as speaker at GDG.</li>
                <li>2023: Construct ELK ( Elasticsearch, Kibana and Filebeat) for k8s projects</li>
                <li>2023: Refactoring Legacy Code and fix the 2-year-old bugs</li>
            </ol>
        </div>
        <hr>
        <div class="personal-achievement">
            <h2>Personal Achievement</h2>
            <hr>
            <ol>
                <li>2023 ~ Current: Sharing Tech Knowledges on Medium</li>
                <li>2024: iThome 鐵人賽 自我挑戰
                    <ol class="disc-list">
                        <li><a href="https://ithelp.ithome.com.tw/users/20115082/ironman/7165">Side-Project::
                                為自己打造個可編輯的區塊鏈</a></li>
                    </ol>
                </li>
                <li>2024: Open Source SDK for nuget: <a href="https://www.nuget.org/packages/EccSDK#usedby-body-tab">EccSDK</a>
                </li>
                <li>2024: Host Refactor WorkShop for Intern Team in TitanSoft</li>
                <li>2024: Pass CKAD License</li>
                <li>2023: <a href="https://gdg.community.dev/gdg-kaohsiung/">GDG Kaohsiung</a>Speaker

                    <ol class="disc-list">
                        <li><a href="https://gdg.community.dev/events/details/google-gdg-kaohsiung-presents-toocon-9/">當個願望小天使:
                                使用 Golang 監聽 Discord 頻道延遲</a></li>
                        <li><a href="https://gdg.community.dev/events/details/google-gdg-kaohsiung-presents-toocon-11/">讓
                                Vim
                                成為 IDE</a></li>
                    </ol>

                </li>
                <li>2023: Host DevOps WorkShop in TitanSoft</li>
                <li>2023: iThome 鐵人賽 自我挑戰組
                    <ol class="disc-list">
                        <li><a href="https://ithelp.ithome.com.tw/users/20115082/ironman/5988?page=1">掘地土撥鼠的設計歷險記系列,
                                在30天內使用 golang 寫出 30種不同的設計模型</a></li>
                    </ol>
                </li>
                <li>2022: Join 91’s TDD Workshop in TitanSoft</li>
                <li>2022: Blockchain Trusted Transaction Module</li>
                <li>2021: Microwave Detection Analyser Module</li>
                <li>2021: Full Stack Develop - Website of CSIE in YunTech</li>
                <li>2020 ~ 2021: Department Network Administrator in YunTech</li>
                <li>2020: Custom Blockchain System with <b>ZooKeeper</b></li>
                <li>2019: Blockchain Cold Wallet Transaction Module</li>
            </ol>
        </div>
        <hr>
    </div>
</div>
<%- partial('_partial/paginator') %>
